@import '../../style/root.css';

nav{
    width:100%;
    max-height:var(--scale-xxextra);
    padding:var(--scale-medium) var(--scale-big);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background:var(--color-neutral-5);
}

input[type=email] {
    height: 50px;
}

input[type=password] {
    height: 50px;
}

.grid {
    display: grid;
}
p {
    line-height:2 ;
    padding-left: 10px;    
}



.grid-template-columns-3 {
    grid-template-columns: 1fr 1fr;
    margin-bottom:var(--scale-large);
    padding:var(--scale-large);
    display:grid;
    flex-direction: column;
    gap:var(--scale-xxlarge);

    border-radius:var(--radius-small);
    border:1px solid var(--color-neutral-1);
    background:var(--color-principal-light);
}

nav .nav-container{
    width:var(--width-main);
    display:flex;
    gap:var(--scale-big);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.headingitem2{
    padding-left: 50px ;
}


.wrapper-container{
    margin-bottom:var(--scale-large);
    padding:var(--scale-large);
    display:flex;
    flex-direction: column;
    gap:var(--scale-xxlarge);

    border-radius:var(--radius-small);
    border:1px solid var(--color-neutral-1);
    background:var(--color-principal-light);
}


.wrapper-container>.heading{
    color: rgb(160, 156, 156)
    display:flex;
    align-items:center;
    gap:var(--scale-large);
}

.wrapper-container>.headingdesc{
    color:var(--color-neutral-4);
    display:flex;
    align-items:center;
    gap:var(--scale-large);
}

.wrapper-container > section{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:var(--scale-large);
    /* @extend gap-4; */
    /* @apply --gap-4; */

}

footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap:var(--scale-large);
    flex-grow: 1;
    flex-flow: 1;
}

@media only screen and (max-width: 1240px)  {
    main{
        width:var(--width-fullscreen);
        padding:0 var(--scale-large);
    }
    nav .nav-container{
        width:var(--width-fullscreen);
    }
}

@media only screen and (max-width:640px){
    .wrapper-container>.heading{
        font-size:var(--font-headline-x5);
    }
    navigation-top nav .nav-container{
        place-content: center center;
    }
    navigation-top a{
        margin:0;
    }
    navigation-top .actions{
        display:none;
    }
    .wrapper-container>section {
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        gap:var(--scale-medium);
    }
    footer button{
        width:100%;
        justify-content:flex-start;
    }
}