<link rel="stylesheet" href="style.css">
<script src="../../scripts/index.js" defer></script>
<script src="./index.js" defer></script>

<!-- <navigation-top >
    <a href="#home" slot="brand">
        <img src="../../assets/brand-white.svg" alt="Cartunings logo"  height="40"/>
    </a>
    <input type="search" placeholder="Pesquise o seu kit ou peça" slot="search" class="w-100"/>
    <div slot="actions" class="flex gap-3 center">
        <button class="p-3 ghost-white r-circle"><i class="icon-1" data-feather="user"></i></button>
        <button class="p-3 ghost-white r-circle"><i class="icon-1" data-feather="heart"></i></button>
        <button class="p-3 ghost-white r-circle"><i class="icon-1" data-feather="shopping-cart"></i></button>
    </div>
</navigation-top> -->

<template id="navigation">
    <nav>
        <div class="nav-container">
            <slot name="brand"></slot>
            <slot name="search"></slot>
            <slot name="actions"></slot>
        </div>
    </nav>
</template>


