<template id="navigation">
    <nav>
        <div class="nav-container">
            <a href="#home" class="ml-3">
                <img src="../../assets/brand-white.svg" alt="Cartunings logo"  height="40"/>
            </a>
            <button class="primary px-2"><i class="icon-1" data-feather="home"></i></button>
        </div>
    </nav>
</template>

<nav>
    <div class="nav-container">
        <a href="#home" class="ml-3">
            <img src="../../assets/brand-white.svg" alt="Cartunings logo"  height="40"/>
        </a>
        <button class="primary px-2"><i class="icon-1" data-feather="home"></i></button>
    </div>
</nav>

