@import '../../style/root.css';
nav{
    width:100%;
    max-height:var(--scale-xxextra);
    padding:var(--scale-medium) var(--scale-big);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background:var(--color-neutral-5);
}

nav .nav-container{
    width:var(--width-main);
    display:flex;
    gap:var(--scale-big);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}