@import '../../style/root.css';

nav{
    width:100%;
    max-height:var(--scale-xxextra);
    padding:var(--scale-medium) var(--scale-big);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background:var(--color-neutral-5);
}

nav .nav-container{
    width:var(--width-main);
    display:flex;
    gap:var(--scale-big);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigation-bottom{
    width: 100%;
    padding:0 var(--scale-big);
    height:var(--scale-xxbig);
    position: fixed;
    z-index:1091;
    bottom:0;
    left:0;
    display: none;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap:var(--scale-large);
}

.navigation-bottom>span{
    height:100%;
    display: flex;
    place-content: center center;
}

.navigation-bottom>span>a{
    display: flex;
    justify-content: center;
    padding:var(--scale-small) var(--scale-large);
    align-items: center;
    height:100%;
    color:var(--color-principal-light);
}

.sub-catgoria{
    width:100%;
    display: flex;
    place-content: center center;
    position: sticky;
    top:0;
    z-index:1095;

    background:var(--color-neutral-5);
    border-top:1px solid var(--color-neutral-4);
}
.sub-catgoria>ul{
    display: flex;
    place-content: center center;
    white-space: nowrap;
    gap:var(--scale-xlarge);

    padding:var(--scale-medium) var(--scale-xbig);
}

.sub-catgoria>ul>li{
    list-style-type:none;

}
.sub-catgoria>ul>li>a{
    color:var(--color-principal-light);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    transition:all 400ms ease-in-out;
}

.sub-catgoria>ul>li>a:hover{
    color:var(--color-primary-1);
}

.sub-catgoria>ul>li>a.active{
    color:var(--color-primary-3);
}

.wrapper-container{
    display:flex;
    flex-direction: column;
    gap:var(--scale-large);
}

.wrapper-container>.heading{
    color:var(--color-neutral-4);
    display:flex;
    align-items:center;
    gap:var(--scale-large);
}

.wrapper-container > section{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:var(--scale-large);
    /* @extend gap-4; */
    /* @apply --gap-4; */
}
.wrapper-container > section>.lead-actions>button>svg:nth-child(2){
    display: none;
}
.wrapper-container > section>.lead-actions>button.grid>svg:nth-child(1){
    display: none;
}
.wrapper-container > section>.lead-actions>button.grid>svg:nth-child(2){
    display: block;
}

.wrapper-container > .list-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:var(--scale-xlarge);
    margin-bottom:var(--scale-xxlarge);
}

.wrapper-container > .list-products.list{
    grid-template-columns: 1fr;
}

.wrapper-container > .list-products.list > .card-product{
    min-height:120px;
    max-height: 136px;
    background:var(--color-principal-light);
    border-radius:var(--radius-small);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: all 400ms ease-in-out;
    border:0px solid transparent;
}

.wrapper-container > .list-products.list > .card-product .hover-only{
    height:auto;
    opacity: 1;
}

.wrapper-container > .list-products.list > .card-product:hover{
    box-shadow:0 0 0 1px rgba(0,0,0,.4);
}

.wrapper-container>.list-products.list>.card-product>.picture{
    overflow: visible;
    padding:var(--scale-large);
    padding-right: 0;;
    background: transparent;
}

.wrapper-container>.list-products.list>.card-product>.picture>img{
    width: 128px;
    border-radius:var(--radius-small);
    border:1px solid var(--color-neutral-3);
}
.wrapper-container>.list-products.list>.card-product>.picture>span{
    display: none;
}
.wrapper-container>.list-products.list>.card-product>.picture>.galeria{
    position: absolute;
    bottom:0;
    left:100%;
    width: 200%;
    display: flex;
    flex-direction: row;
    padding:var(--scale-medium) var(--scale-large);
    flex-wrap: nowrap;
    overflow-y: auto;
    gap:var(--scale-medium);
    justify-content: flex-start;
    align-items: center;
    background: transparent;
}

.wrapper-container>.list-products.list>.card-product>.body{
    width: 100%;
    padding:var(--scale-large);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:var(--scale-medium);
}
.wrapper-container>.list-products.list>.card-product>.body>.information{
    width: 100%;
}
.wrapper-container>.list-products.list>.card-product>.body>.value{
    gap:var(--scale-large);
}

.wrapper-container>.list-products>.card-product>.body>.value>.actions-card>.list-is-visible{
    display: none;
}

.wrapper-container>.list-products.list>.card-product>.body>.value>.actions-card>.list-is-visible{
    display: block;
}

.wrapper-container>.list-products.list>.card-product>.body>.value>.actions-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:var(--scale-medium);
}

.list-products > .card-product{
    min-height:320px;
    max-height: 320px;
    background:var(--color-principal-light);
    border-radius:var(--radius-small);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.list-products > .card-product>.picture{
    background: var(--color-foreground-2);
    position: relative;
    display: flex;
    height:100%;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.list-products > .card-product>.picture>img{
    width:100%;
    min-height:100%;
    max-height:240px;
    object-fit: cover;
}

.list-products > .card-product>.picture>span{
    position: absolute;
    z-index: 1090;
    top:0;
    right:0;
}

.list-products > .card-product>.picture>.galeria{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding:var(--scale-medium) var(--scale-large);
    flex-wrap: nowrap;
    overflow-y: auto;
    gap:var(--scale-medium);
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(0deg, rgba(0,0,0,.8), rgba(255,0,0,0));
}

.list-products > .card-product>.picture>.galeria>span{
    list-style:none;
}
.list-products > .card-product>.picture>.galeria.hover-only:empty{
    height:0;
    opacity: 0;
    display: none;
}

.list-products > .card-product>.picture>.galeria>span:hover>img{
    border:2px solid var(--color-principal-dark);
    cursor: pointer;
}

.list-products > .card-product>.picture>.galeria>span>img{
    width:var(--scale-big);
    height:var(--scale-big);
    border-radius: var(--radius-small);
    border:1px solid var(--color-neutral-3);
}



.list-products > .card-product>.body{
    padding:var(--scale-large);
    display: flex;
    flex-direction: column;
    gap:var(--scale-medium);

}

.list-products > .card-product>.body>a{
    text-decoration: none;
}

.list-products > .card-product>.body>.information{
    display: flex;
    flex-direction: column;
}

.list-products > .card-product>.body>.information h5{
    color:var(--color-neutral-5);
}

.list-products > .card-product>.body>.information p{
    color:var(--color-neutral-3);
}

.list-products > .card-product .hover-only{
    height:0;
    opacity: 0;
}
.list-products > .card-product:hover .body{
    /* height:100%; */
}

.list-products > .card-product:hover .hover-only,
.list-products > .card-product:focus .hover-only,
.list-products > .card-product:focus-visible .hover-only,
.list-products > .card-product:focus-within .hover-only{
    animation: slide-down .400s both ease-in-out .100s;
}

.list-products > .card-product:hover .galeria.hover-only,
.list-products > .card-product:focus .galeria.hover-only,
.list-products > .card-product:focus-visible .galeria.hover-only,
.list-products > .card-product:focus-within .hover-only{
    animation: slide-down .400s both ease-in-out .100s;
    /* padding:var(--scale-medium) var(--scale-large); */
}

.list-products > .card-product>.body>.value{
    display:flex;
    justify-content: space-between;
}
.list-products > .card-product>.body>.value>span>svg{
    color:var(--color-neutral-4);
}

.list-products > .card-product>.body>.value .price{
    font-size:var(--font-headline-x4);
    color:var(--color-neutral-4);
    line-height: 1;
}
.list-products > .card-product>.body>.value small{
    font-size:var(--font-captalize);
    font-weight: var(--font-weight-subbold);
    text-decoration: line-through;
    color:var(--color-feedback-negative-3);
    line-height: 1;
}

footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap:var(--scale-large);
}

/* Media Desktops */
@media only screen and (max-width: 1199.98px)  {
    main{
        width:var(--width-fullscreen);
        padding:0 var(--scale-large);
    }
    nav .nav-container{
        width:var(--width-fullscreen);
    }

    .wrapper-container > .list-products{
        grid-template-columns: 1fr 1fr;
    }
}

/* Media Tablets */
@media only screen and (max-width: 991.98px)  {
    body{
        position: relative;
    }
    .wrapper-container>.heading{
        font-size:var(--font-headline-x5);
    }
    navigation-top nav .nav-container{
        place-content: center center;
    }
    navigation-top a{
        margin:0;
    }
    navigation-top .actions,navigation-top input{
        display:none;
    }
    .wrapper-container>section {
        flex-direction: column;
    }

    .wrapper-container > .list-products{
        grid-template-columns: 1fr 1fr;
    }

    .sub-catgoria>ul{
        overflow-y: auto;
        place-content: center start;
        padding:var(--scale-large) var(--scale-xbig);
    }

    .list-products > .card-product .hover-only{
        height:auto;
        opacity: 1;
    }

    footer{
        flex-direction: column;
        gap:var(--scale-medium);
    }
    footer button{
        width:100%;
    }
}

/* Media Smartphones */
@media only screen and (max-width:767.98px){
    .navigation-bottom{
        display: flex;
    }
    .wrapper-container>section>.lead-actions>button:nth-child(1){
        display:none;
    }

    .wrapper-container > .list-products{
        grid-template-columns: 1fr;
    }

    footer{
        margin-bottom:var(--scale-big);
    }
}

/* Media all devices */
@media only screen and (max-width:575.98px){
    
}