@import '../../style/root.css';

nav{
    width:100%;
    max-height:var(--scale-xxextra);
    padding:var(--scale-medium) var(--scale-big);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background:var(--color-neutral-5);
}

nav .nav-container{
    width:var(--width-main);
    display:flex;
    gap:var(--scale-big);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-container{
    display:flex;
    flex-direction: column;
    gap:var(--scale-large);
}

.wrapper-container>.heading{
    color:var(--color-neutral-4);
    display:flex;
    align-items:center;
    gap:var(--scale-large);
}

.wrapper-container > section{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:var(--scale-large);
    /* @extend gap-4; */
    /* @apply --gap-4; */

}

.wrapper-container > .list-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap:var(--scale-xlarge);
    margin-bottom:var(--scale-xxlarge);
}

.list-products > .card-product{
    background:var(--color-principal-light);
    border-radius:var(--radius-small);
}

footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap:var(--scale-large);
    flex-grow: 1;
    flex-flow: 1;
}

@media only screen and (max-width: 1240px)  {
    main{
        width:var(--width-fullscreen);
        padding:0 var(--scale-large);
    }
    nav .nav-container{
        width:var(--width-fullscreen);
    }
}

@media only screen and (max-width:640px){
    .wrapper-container>.heading{
        font-size:var(--font-headline-x5);
    }
    navigation-top nav .nav-container{
        place-content: center center;
    }
    navigation-top a{
        margin:0;
    }
    navigation-top .actions,navigation-top input{
        display:none;
    }
    .wrapper-container>section {
        flex-direction: column;
    }
    footer{
        flex-direction: column;
        gap:var(--scale-medium);
    }
    footer button{
        width:100%;
        justify-content:flex-start;
    }
}