@import '../../style/root.css';

body{
    background:var(--color-foreground-4);
    width:100%;
    height:100vh;
}

nav{
    width:100%;
    max-height:var(--scale-xxextra);
    padding:var(--scale-medium) var(--scale-big);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background:var(--color-neutral-5);
}

nav .nav-container{
    width:var(--width-main);
    display:flex;
    gap:var(--scale-big);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wrapper-container{
    margin-bottom:var(--scale-large);
    padding:var(--scale-large);
    display:flex;
    flex-direction: column;
    gap:var(--scale-xxlarge);

    border-radius:var(--radius-small);
    border:1px solid var(--color-neutral-1);
    background:var(--color-principal-light);
}

.wrapper-container>.heading{
    color:var(--color-neutral-4);
    display:flex;
    align-items:center;
    gap:var(--scale-large);
}
