@import '../../style/root.css';
@import '../ListagemCategoria/style.css';


.details{
    min-height:480px;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    gap:var(--scale-large);

}

.product-images{
    width:66.67%;
    position: relative;
    flex-grow: 3;
    max-height:480px;
    border-radius: var(--radius-small);
    overflow: hidden;
    display: block;
}
.product-images>img{
    width: 100%;
    max-height:480px;
    object-fit: cover;
}
.product-images>.galeria{
    position: absolute;
    bottom:0;
    left:0;
    padding:var(--scale-medium);
}

.product-images>.galeria>img{
    width:56px;
    height:56px;
    border-radius:var(--radius-small);
    border:2px solid var(--color-principal-light);
    filter: saturate(0%);
}

.product-images>.galeria>img:hover{
    filter: saturate(100%);
    cursor:pointer;
    border-color:var(--color-primary-1);
}

.product-detail{
    width:33.33%;
    flex-grow: 1;
    display: flex;
    flex-flow:column nowrap;
    padding:var(--scale-large);
    gap:var(--scale-medium);
    justify-content: space-between;
    
    border-radius: var(--radius-small);
    background:var(--color-principal-light);
}

.product-detail>.header{
    display: flex;
    flex-flow:row nowrap;
    width: 100%;
    place-content: space-between;
    place-items:center;
}

.product-detail>.values .price{
    color:var(--color-primary-3);
    font-size:var(--font-headline-x3);
    line-height: 1;
}

.product-detail>.values .desc{
    color:var(--color-feedback-negative-2);
    font-size:var(--font-captalize);
}

.product-detail>.values .price-desc{
    font-size:var(--font-captalize);
    font-weight: var(--font-weight-subbold);
    text-decoration: line-through;
    color:var(--color-neutral-4);
    line-height: 1;
}

.product-detail>.avaliable{
    display: flex;
    flex-flow:column nowrap;
}

.product-detail>.actions{
    display:flex;
    flex-flow:column nowrap;
    gap:var(--scale-medium);
}

.product-detail>.extra{
    display:flex;
    flex-flow:column wrap;
    gap:var(--scale-medium);
    padding:var(--scale-medium);
    
    border:1px solid var(--color-neutral-1);
    border-radius: var(--radius-small);
}

.descrition{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap:var(--scale-large);
}

.descrition>.carac{
    width:66.67%;
    display:flex;
    flex-grow:4;
    flex-flow:column wrap;
    background: var(--color-principal-light);
    border-radius:var(--radius-small);
    padding:var(--scale-large);
}

.descrition>.carac>.tab-horizontal{
    width:100%;
    display: flex;
    flex-flow:column nowrap;
    gap:var(--scale-large);
}
.descrition>.carac>.tab-horizontal>.tab-head{
    width:100%;
    border-bottom:2px solid var(--color-neutral-1);
    height:var(--scale-big);
    display: flex;
    flex-flow:row nowrap;
}
.descrition>.carac>.tab-horizontal>.tab-head>a{
    text-decoration: none;
    font-size: var(--font-label);
    font-weight: var(--font-weight-subbold);
    color:var(--color-neutral-4);
    padding:var(--scale-medium);
    height:100%;
}
.descrition>.carac>.tab-horizontal>.tab-head>a:hover,
.descrition>.carac>.tab-horizontal>.tab-head>a.active:hover{
    color:var(--color-primary-1);
}

.descrition>.carac>.tab-horizontal>.tab-head>a.active{
    color:var(--color-primary-3);
    position: relative;
}
.tab-horizontal>.tab-head>a.active::after{
    content:'';
    position:absolute;
    z-index:2;
    bottom:-2px;
    left:0;
    width:100%;
    height:var(--scale-xsmall);

    background:var(--color-primary-3);
}

.descrition>.carac>.tab-horizontal>.tab-body{
    width: 100%;
    display:flex;
    flex-flow:column nowrap;
    gap:var(--scale-xlarge);
}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content{
    display:none;
}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content.active{
    display:flex;
    flex-flow:column nowrap;
    gap:var(--scale-xlarge);
}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content>p{
    width:100%;
    white-space:wrap;
    line-height: var(--font-line-base);
}

.descrition>.comments{
    width:33.33%;
    display:flex;
    flex-flow:column wrap;
    flex-grow:2;
    gap:var(--scale-medium);
    background: var(--color-principal-light);
    border-radius:var(--radius-small);
    padding:var(--scale-large);
}

.descrition>.comments>.nps-rating{
    display:flex;
    flex-flow:column nowrap;
}

.descrition>.comments>.nps-rating>li{
    list-style:none;
    display: flex;
    flex-flow:row nowrap;
    place-content:center center;
    align-items:center;
    gap:var(--scale-medium);
}
.descrition>.comments>.nps-rating>li>strong{
    font-family: var(--font-primary);
    font-weight: var(--font-weight-bold);
    color:var(--color-neutral-5);
    width: var(--scale-large);
    text-align: center;
}

.descrition>.comments>.nps-rating>li>progress.progress{
    width:100%;
    height:var(--scale-medium);
}


/* Media Desktops */
@media only screen and (max-width: 1199.98px){}

/* Media Tablets */
@media only screen and (max-width: 991.98px){
    .product-images{
        width: 100%;
    }

    .product-detail{
        width: 100%;
    }

    .descrition>.carac{
        width: 100%;
    }

    .descrition>.comments{
        width: 100%;
    }
}

/* Media Smartphones */
@media only screen and (max-width:767.98px){
    .product-images{
        width: 100%;
    }

    .product-detail{
        width: 100%;
    }

    .descrition>.carac{
        width: 100%;
    }

    .descrition>.comments{
        width: 100%;
    }
}

/* Media all devices */
@media only screen and (max-width:575.98px){}