@import '../../style/root.css';
@import '../ListagemCategoria/style.css';


.details{
    min-height:480px;
    flex-flow: row nowrap;
    justify-content: stretch;
    align-items: stretch;
    gap:var(--scale-large);

}

.product-images{
    width:66.67%;
    position: relative;
    flex-grow: 3;
    max-height:480px;
    border-radius: var(--radius-small);
    overflow: hidden;
    display: block;
}
.product-images>img{
    width: 100%;
    max-height:480px;
    object-fit: cover;
}
.product-images>.galeria{
    position: absolute;
    bottom:0;
    left:0;
    padding:var(--scale-medium);
}

.product-images>.galeria>img{
    width:56px;
    height:56px;
}

.product-detail{
    width:33.33%;
    flex-grow: 1;
    display: flex;
    flex-flow:column nowrap;
    padding:var(--scale-large);
    gap:var(--scale-medium);
    justify-content: space-between;
    
    border-radius: var(--radius-small);
    background:var(--color-principal-light);
}

.product-detail>.header{
    display: flex;
    flex-flow:row nowrap;
    width: 100%;
    place-content: space-between;
    place-items:center;
}

.product-detail>.values .price{
    color:var(--color-primary-3);
    font-size:var(--font-headline-x3);
    line-height: 1;
}

.product-detail>.values .desc{
    color:var(--color-feedback-negative-2);
    font-size:var(--font-captalize);
}

.product-detail>.values .price-desc{
    font-size:var(--font-captalize);
    font-weight: var(--font-weight-subbold);
    text-decoration: line-through;
    color:var(--color-neutral-4);
    line-height: 1;
}

.product-detail>.avaliable{
    display: flex;
    flex-flow:column nowrap;
}

.product-detail>.actions{
    display:flex;
    flex-flow:column nowrap;
    gap:var(--scale-medium);
}

.product-detail>.extra{
    display:flex;
    flex-flow:column wrap;
    gap:var(--scale-medium);
    padding:var(--scale-medium);
    
    border:1px solid var(--color-neutral-1);
    border-radius: var(--radius-small);
}

.descrition{
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    align-items: stretch;
    gap:var(--scale-large);
}

.descrition>.carac{
    width:66.67%;
    display:flex;
    flex-grow:4;
    flex-flow:column wrap;
    background: var(--color-principal-light);
    border-radius:var(--radius-small);
    padding:var(--scale-large);
}

.descrition>.carac>.tab-horizontal{
    width:100%;
}
.descrition>.carac>.tab-horizontal>.tab-head{

}

.descrition>.carac>.tab-horizontal>.tab-body{

}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content{
    display:none;
}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content.active{
    display:block;
}

.descrition>.carac>.tab-horizontal>.tab-body>.tab-content>p{
    width:100%;
    white-space:wrap;
}

.descrition>.comments{
    width:33.33%;
    display:flex;
    flex-flow:column wrap;
    flex-grow:2;
    gap:var(--scale-medium);
    background: var(--color-principal-light);
    border-radius:var(--radius-small);
    padding:var(--scale-large);
}

.nps-rating{
    display:flex;
    flex-flow:column nowrap;
}

.nps-rating>li{
    list-style:none;
}


/* Media Desktops */
@media only screen and (max-width: 1199.98px){}

/* Media Tablets */
@media only screen and (max-width: 991.98px){
    .product-images{
        width: 100%;
    }

    .product-detail{
        width: 100%;
    }

    .descrition>.carac{
        width: 100%;
    }

    .descrition>.comments{
        width: 100%;
    }
}

/* Media Smartphones */
@media only screen and (max-width:767.98px){
    .product-images{
        width: 100%;
    }

    .product-detail{
        width: 100%;
    }

    .descrition>.carac{
        width: 100%;
    }

    .descrition>.comments{
        width: 100%;
    }
}

/* Media all devices */
@media only screen and (max-width:575.98px){}